// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-header {
  line-height: 69px;
}
.files .thumbnail {
  height: 252px;
  text-align: center;
}
.files .progress {
  display: inline-block;
  margin: .5em 0;
  width: 180px;
}
.thumbnail .picture {
  background-color: #eee;
  display: block;
  line-height: 180px;
  text-align: center;
  vertical-align: middle;
}
.thumbnail .picture > img {
  display: inline;
}
.thumbnail.album {
  height: 260px;
}
.thumbnail.album h3 {
  font-size: 16px;
  margin: 0;
}